/* ==========================================================================
   FOOTER
   ========================================================================== */

   .page__footer {
    @include clearfix;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    /* sticky footer fix start */
    position: absolute;
    bottom: 0em;
    height: auto;
    /* sticky footer fix end */
    margin-top: 3em;
    
    /* Dark Theme Modifications */
    color: #bbb;  /* Lighter text color for contrast */
    background-color: #333; /* Dark background color */
    border-top: 1px solid #444; /* Slightly lighter border for the top */
    -webkit-animation: intro 0.3s both;
            animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  
    footer {
      @include clearfix;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      max-width: 100%;
      padding: 0 1em 2em;
  
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }
  
    a {
      color: #fff;  /* Links will be white in dark mode */
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
        color: #cfcfcf;  /* Lighter shade on hover */
      }
    }
  
    .fas,
    .fab,
    .far,
    .fal {
      color: #bbb;  /* Lighter social icons */
    }
  }
  
  .page__footer-copyright {
    font-family: $global-font-family;
    font-size: $type-size-7;
    color: #777;  /* Slightly darker gray for copyright text */
  }
  
  .page__footer-follow {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    li {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
      color: #bbb;  /* Light text color for items */
    }
  
    li + li:before {
      content: "";
      padding-right: 5px;
    }
  
    a {
      padding-right: 10px;
      font-weight: bold;
      color: #fff;  /* Make the social media links white */
    }
  
    .social-icons {
      a {
        white-space: nowrap;
      }
    }
  }
  