---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <style>
     div {
     text-align: justify;
     text-justify: inter-word;
     }
  </style>
  
  <script>
    fetch('https://ipapi.co/json/')
      .then(response => response.json())
      .then(data => {
        const visitorData = {
          ip: data.ip,
          country: data.country_name,
          city: data.city
        };
  
        fetch('https://script.google.com/macros/s/AKfycbxmocg5FiFwS9LYsXNMQuBzRHM1iHgqYBigmyQ3uaI3JpVrIAo2KdlddGvUzoWa1WN_/exec', {
          method: 'POST',
          mode: 'no-cors',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(visitorData)
        });
      })
      .catch(error => console.error('Error fetching visitor info:', error));
  </script>
  


  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
